<% page_posts = @posts[(@page_index.to_i-1)*@posts_per_page...(@page_index.to_i*@posts_per_page)] %>
<div class="row">
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <h1 class="indie-flower">Posts</h1>
    <div class="small text-left indie-flower">
      <% if page_posts.any?%>
        <%= "(#{page_posts.min_by{|p| p.updated_at}.updated_at.to_s.split(" ")[0]} - #{page_posts.max_by{|p| p.updated_at}.updated_at.to_s.split(" ")[0]})" %>
      <% else %>
        <%= page_posts %>
        <%= "page_index: #{@page_index}" %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <%= form_tag "/posts/", method: "get" do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Search for..." %>
      <span class="input-group-btn">
        <%= submit_tag "search", class: "btn btn-default" %>
      </span>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-6 col-xs-12">

  </div>
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <%= render "pagination", locals: {page_index: @page_index, posts: @posts, posts_per_page: @posts_per_page, path: "posts_path", search: params[:search]} %>
  </div>
</div>
<hr>

<% page_posts.each do |post| %>
  <div class="">
    <div class="post-title">
       <%= post.title %>
       <div class="indie-flower float-right">
           <%= link_to  "Read", post_path(post), class: "float-right"%>
       </div>
    </div>
    <div class="small text-left indie-flower">
      <small><%= post.updated_at.to_s.split(" ")[0] %></small>
    </div>
    <div class="post-body">
      <small><%= post.body[0..1000] %></small>
    </div>
    <hr>
  </div>
<% end %>
