
<div class="post-title">
  <h1><%= @post.title %></h1>
</div>
<hr>
<% if @post.tags.any? %>
  <% @post.tags.each do |tag| %>
  &nbsp
    <div class="label label-default">
      <%= tag.name %>
    </div>
  <% end %>
<% end %>
&nbsp
<% if((user_signed_in?) && (can? :create, @post.favourites.new))  %>
  <div class="fav">
    <% if @post.fav_by current_user %>
       <%= link_to fa_icon("star"), [@post, @post.favourite_for(current_user)], method: :delete %>
      <%= @post.favs_count %>, including you.
    <% else %>
      <%= link_to fa_icon("star-o"), post_favourites_path(@post), method: :post%>
      <%= @post.favs_count %>.
    <% end %>

  </div>
<% elsif(user_signed_in?) && !(can? :create, @post.favourites.new) %>
  <div class="fav">
    <% if @post.fav_by current_user %>
       <%= fa_icon("star")%>
      <%= @post.favs_count %>, including you.
    <% else %>
      <%= fa_icon("star-o")%>
      <%= @post.favs_count %>.
    <% end %>

  </div>
<% end %>

<div class="">
  <p class="post-body">
    <%= @post.body %>
  </p>
  <div class="align-right indie-flower">
    <% if can? :edit, @post %>
    <%= link_to "edit", edit_post_path(@post) %> &nbsp&nbsp&nbsp
    <% end %>
    <% if can? :destroy, @post %>
    <%= link_to "delete", post_path(@post), {method: :delete,
                                            data: {confirm: "Are you sure!"}} %>
    <% end %>
  </div>
</div>

<hr>
<% @post.comments.each do |comment| %>
    <div class="indie-flower">
      <% if comment.user %>
      <div class="small">
        <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
      </div>
      <% end %>
      <div class="">
        <%= comment.body %>
      </div>
      <div class="align-right indie-flower">
        <% if can? :destroy, comment %>
        <%= link_to "delete", post_comment_path(@post,comment), {method: :delete,
                                                data: {confirm: "Are you sure!"}} %>
        <% end %>
      </div>
    </div>
    <hr>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Enter your comment here..." %>
    </div>
    <div class="form-group indie-flower">
      <%= f.submit "Submit Comment", class: "btn btn-default btn-lg" %>
    </div>
  <% end %>
<% else %>
  <div class="bangers">
    Log in to comment.
  </div>
<% end %>
