
<div class="post-title">
  <h1><%= @post.title %></h1>
</div>
<hr>
<div class="">
  <p class="post-body">
    <%= @post.body %>
  </p>
  <div class="align-right indie-flower">
    <%= link_to "edit", edit_post_path(@post) %> &nbsp&nbsp&nbsp
    <%= link_to "delete", post_path(@post), {method: :delete,
                                            data: {confirm: "Are you sure!"}} %>
  </div>
</div>

<hr>
<% @post.comments.each do |comment| %>
    <p class="indie-flower">
      <%= comment.body %>
    </p>
    <hr>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Enter your comment here..." %>
  </div>
  <div class="form-group indie-flower">
    <%= f.submit "Submit Comment", class: "btn btn-default btn-lg" %>
  </div>
<% end %>
